.footer{
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    padding-left: 2em;
}

.footer p{
    margin-right: 2em;
}

.footer ul li img{
    height: 3.5vh;
}